.container{
	width:1200px;
	margin:0 auto;
}
.clearfix:after{
	content:"";
	display:block;
	clear:both;
}
.fl{
	float: left;
}
.fr{
	float: right;
}
.no-ml{
	margin-left:0!important;
}
.no-mt{
	margin-top:0!important;
}
.no-bl{
	border-left:none!important;
}
.banner{
	position: relative;
}
.banner img{
	width:100%;
}
.banner .swiper-pagination-bullet{
	width: 12px;
    height: 12px;
    margin: 0 5px;
}
.banner .swiper-pagination{
	left:50%;
	margin-left:-33px;
	bottom:10px;
}
.home{
	    height: 100%;
   background-color: #f5f8fa;
}
.s-titl{
	height: 20px;
	border-bottom:1px solid #c6c8cb;
	position:relative;
	margin:30px 0 10px;
}
.s-titl span{
	font-size:22px;
	color:#333;
	text-align:center;
	line-height:40px;
	background: #f5f8fa;
	padding:0 25px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
}
.s1-item{
	width:275px;
	margin:50px 0 0 20px;
	float: left;
	position: relative;
    -webkit-box-shadow: 0px 2px 12px 2px #edf1f5;
    -moz-box-shadow: 0px 2px 12px 2px #edf1f5;
    box-shadow: 0px 2px 12px 2px #edf1f5;
}
.s1-text{
	padding:0 10px;
	background:#fff;
}
.s1-pic{
	position: relative;
	background: #c3c0c0;
}
.s1-cname{
	font-size:16px;
	color:#333;
	line-height:50px;
	width: 200px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.s1-cprice{
	font-size:16px;
	color:#ff0000;
	line-height:50px;
}
.s1-online{
	height: 24px;
    padding: 0 2px;
    background: #333;
    position: absolute;
    right: 0;
    top: 0;
}
.s1-online .iconfont{
	color:#fff;
	font-size:16px;
}
.s1-num{
    font-size: 14px;
    color: #ab9292;
    line-height: 24px;
    margin-left: 2px;
}
.s-btn{
	width:150px;
	margin:0 auto;
	border: 1px solid #ccc;
	background: #fff;
	font-size:16px;
	color:#000;
	text-align: center;
	line-height: 40px;
	margin-top:40px;
}
.hrline{
    width: 0;
    height: 3px;
    border-top:3px solid #383c40;
    position: absolute;
    bottom: -6px;
    left: 50%;
    -webkit-transition: all ease 0.2s;
    -moz-transition: all ease 0.2s;
    -ms-transition: all ease 0.2s;
    -o-transition: all ease 0.2s;
    transition: all ease 0.2s;
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
}
.s1-item:hover .hrline{
    width: 100%;
    transform: translateX(-50%);
}
.s2-item{
	width:190px;
	background:#ccc;
	float: left;
	margin:30px 0 0 40px;
	position:relative;
}
.s2-item a{
	width:100%;
	height: 100%;
}
.s2-botText{
	width:100%;
	position: absolute;
	left:0;
	bottom:0;
	padding: 0 10px 10px;
}
.tstar{
	padding: 4px 0;
}
.tname{
	font-size:16px;
	color:#fff;
	line-height: 30px;
}
.tscore{
	text-align:right;
	color:#fff;
}
.s3-ct{
	background: #fff;
	box-shadow: 0px 2px 12px 2px #edf1f5;
	margin-bottom:50px;
}
.s-tbox{
	border-bottom: 1px solid #eee;
	margin-top:30px;
}
.s3-titl{
	font-size: 22px;
    color: #333;
    text-align: center;
	line-height: 70px;
	padding-left:10px;
}
.s-more{
    font-size: 16px;
    color: #787d82;
    text-align: center;
    line-height: 70px;
    padding: 0 40px;
    border-left: 1px solid #eee;
}
.s-more:hover{
	background:#eee;
}
.s3-swiper{
	width:500px;
	position: relative;
}
.s3-swiper .swiper-pagination-bullet{
	width: 20px;
    height: 4px;
    border-radius:0!important;
    margin: 0 5px;
    background:#fff;
}
.s3-swiper .swiper-pagination{
	right:0;
	bottom:10px;
}
.s3-swiper .swiper-slide{
	height:310px;
	position: relative;
}
.s3-swiper img{
	width:100%;
}
.s3-swiper p{
  width:100%;
  font-size:16px;
  color:#fff;
  line-height: 60px;
  padding:0 10px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  background: rgba(0,0,0,0.5);
  position: absolute;
  left:0;
  bottom:0;
}
.s3-new{
	margin-top:10px;
	    border: 1px solid #eee;
}
.s3-date{
	width: 68px;
	height: 68px;
	background: #6f7378;
	border-radius:5px;
	padding:0 5px;
}
.s3-hr{
    height: 0;
    border-color: rgba(255, 255, 255, 0.4);
}
.s3-date p{
	font-size:16px;
	color:#fff;
	text-align: center;
	line-height: 35px;
}
.s3-month{
	border-bottom:1px solid #a9abae;
}
.s3-news{
	width:650px;
}
.s3-text{
  width:570px;
}
.s3-text h3{
	line-height:40px;
	font-size:16px;
	color:#333;
}
.s3-text p{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
      color: #999;
      font-size: 12px;
          line-height: 24px;
}
.s3-div{
	padding:30px 10px;
}